quart>=0.17.0
agentscope
dashscope
langchain
langchain-core>=0.1.50,<0.2
langchain-dashscope>=0.1.0
langchain-community
langchain-qdrant
langchain_text_splitters
qdrant-client
python-dotenv
requests
PyPDF2
numpy
pandas
biomcp-python
pywebview

